<?xml version="1.0"?>
<launch>
    <node pkg="gazebo_nav_stack" type="gazebo_nav_stack_range_detect_node" name="range_detect_node" output="screen"
        launch-prefix="gnome-terminal --command"/>
    <node pkg="gazebo_nav_stack" type="gazebo_nav_stack_path_plan_node" name="path_plan_node" output="screen"
        launch-prefix="gnome-terminal --command"/>
    <node pkg="gazebo_nav_stack" type="gazebo_nav_stack_bot_control_node" name="bot_control_node" output="screen"/>
    <rosparam command="load" file="$(find gazebo_nav_stack)/config/config.yaml"/>

</launch>